body {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-right {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;   
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0%;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0%;
}

.sign-up {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #3882f6;
    color: #e5e7eb;
}

.image {
    height: 275px;
    width: 550px;
    background-color: #e5e7eb5c;
    margin-right: 150px;
}

.image p {
    text-align: center;
    margin-top: 125px;
    color: #e5e7eb;
}

.random {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
}

.random-boxes {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    margin-top: 25px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    background-color: white;
    border: #1f2937;
    border-style: solid;
    border-radius: 10%;
}

