body {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-right {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;   
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0%;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0%;
}

.sign-up {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
}

.image {
    height: 275px;
    width: 550px;
    background-color: #e5e7eb5c;
    margin-right: 150px;
}

.image p {
    text-align: center;
    margin-top: 125px;
    color: #e5e7eb;
}

.random {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-content: center;
    height: 400px;
    width: auto;
    justify-content: center;
    padding-bottom: 100px;
}

.random-heading {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-bottom: 44px;
    margin-top: 0;
}

.random-boxes {
    display: flex;
    justify-content: center;
    gap: 66px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    background-color: white;
    border: #1f2937;
    border-style: solid;
    border-radius: 10%;
}

.box p {
    text-align: center;
    margin-top: 150px;
}

.quote {
    background-color: #e5e7eb;
    height: 400px;
    align-content: center;
    justify-content: center;
    padding: 0 350px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.quote-ref {
    text-align: right;
    font-weight: bold;
    color: #1f2937;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 350px;
    width: auto;
}

.action-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3882f6;
    height: 200px;
    width: 70%;
    border-radius: 1cap;
}

.action-left {
    padding: 100px;
}

.action-right {
    padding: 100px;
}

.action-button {
    text-align: center;
    background-color: #3882f6;
    border-color: white;
    color: #e5e7eb;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}



