body {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.top-right {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;   
}

.hero {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}